<!-- SIDEBAR -->
<!-- Subscribe to my feed widget -->
{{ $baseURL := .Site.BaseURL }}
<div>
<aside id="subscription" class="widget widget_subscription">
	<h3 class="widget-title">Don't want to miss updates?</h3>
	<form action="//sivalabs.us9.list-manage.com/subscribe/post?u=a244435ef0378fac204b5a2d4&amp;id=bdded8d3db" 
		  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" 
		  class="validate" target="_blank" novalidate>
		<p><input type="email" value="" name="EMAIL" class="required email" width="95%" placeholder="Email" id="mce-EMAIL"></p>
		<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
		<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	    <div style="position: absolute; left: -5000px;" aria-hidden="true">
			<input type="text" name="b_a244435ef0378fac204b5a2d4_bdded8d3db" tabindex="-1" value="">
		</div>
	    <div class="clear"></div>
	</form>
	
</aside>

<aside id="recent-posts" class="widget widget_recent_entries">		
	<h3 class="widget-title">Recent Posts</h3>		
	<ul>
		{{ range first 5 (where .Site.Pages.ByDate.Reverse "Section" "post") }}
	    <li>
	    	<a href="{{ .Permalink }}">{{ .Title }}</a>
	    </li>
		{{ end }}
			
	</ul>
</aside>


<aside id="categories" class="widget widget_categories">
	<h3 class="widget-title">Categories</h3>		
	<ul>
		{{ range $name, $taxonomy := .Site.Taxonomies.categories }}
		    <li class="cat-item">
				<a href="/categories/{{ $name | urlize }}">{{ $name | title }}</a>
			</li>
		  {{ end }}
		  
	</ul>
</aside>

<aside id="tag_cloud" class="widget widget_tag_cloud">
	<h3 class="widget-title">Tags</h3>
	<div class="tagcloud">
		{{ range $name, $taxonomy := .Site.Taxonomies.tags }}
		    	<a class="tag-link" href="{{ $baseURL }}tags/{{ $name | urlize }}">
		    		<span class="glyphicon glyphicon-tags" aria-hidden="true"></span> {{ $name | title }} &nbsp;
		    	</a>
		  {{ end }}
		
	</div>
</aside>
 
</div>
