	{{ $baseUrl := .Site.BaseURL }}
	{{ partial "head.html" . }}
	<body class="{{ .Site.Params.themeColor }}">
		{{ partial "header.html" . }}

		<div class="content container">
		<div class="row">
		    <div class="col-md-9">
				<div class="post">
				 	
				  	<article id="post-1" class="post-1 post type-post status-publish format-standard hentry category-uncategorized">
						<header class="entry-header">
							
							<h1 class="entry-title">
								<a href="{{ $baseUrl }}" rel="bookmark">{{ .Title }}</a>
							</h1>
							
							<div class="entry-meta">
								<span class="date">
									<time class="entry-date" datetime="2008-06-04T22:40:06+00:00">{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
								</span>
								<span class="categories-links">
									Tags: 
									  {{ range .Params.tags }}
									    <a href="{{ $baseUrl }}tags/{{ . | urlize }}" rel="category">
									    	<span class="glyphicon glyphicon-tags" aria-hidden="true"></span> {{ . | title}}
									    </a> &nbsp;
									  {{ end }}
								</span>
							</div><!-- .entry-meta -->
							
							</header><!-- .entry-header -->
					
							<div class="entry-content">
								<p>{{ .Content }}</p>
							</div><!-- .entry-content -->
						
							<footer class="entry-meta">
								<p>{{ partial "social-share.html" . }}</p>
								{{ partial "disqus.html" . }}
							</footer><!-- .entry-meta -->
					</article>
				      
				</div>
			</div>
			<div class="col-md-3">
				{{ partial "sidebar.html" . }}
			</div>
			
		</div>
	</div>
	{{ partial "footer.html" . }}
  </body>

