{{ $baseUrl := .Site.BaseURL }}

<!DOCTYPE html>
<html lang="en-US">
{{ partial "head.html" . }}

<body class="home blog custom-background">
	<div id="page">
		<div class="container">
			<div class="row row-offcanvas row-offcanvas-left">
				
				<div id="secondary" class="col-lg-3">
					{{ partial "header.html" . }}
					
					{{ partial "sidebar.html" . }}
					
				</div>

				<div id="primary" class="content-area col-lg-9">
					<div id="content" class="site-content" role="main">
						<h1>404: Page not found</h1>
				        <p class="lead">Sorry, we've misplaced that URL or it's pointing to something that doesn't exist. 
				        <a href="{{ .Site.BaseURL }}">Head back home</a> to try finding it again.</p>
						
					</div>
					{{ partial "footer.html" . }}
				</div>
			</div>
		</div>
	</div>

</body>
</html>

