{{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}

{{ range (where .Paginator.Pages "Section" "post") }}
<article class="post type-post format-standard hentry">
	<header class="entry-header">
		<h2 class="entry-title">
			<a 
				href="{{ .Permalink }}"
				title="{{ .Title }}"
				rel="bookmark">{{ .Title }}</a>
		</h2>
		<div class="entry-meta">
			<span class="entry-date">
				{{ .Date.Format "Jan 2, 2006" }} By {{ .Site.Params.nickname}}
			</span>
		</div>
	</header>
	<div class="entry-content">
		<p>
			{{ .Description }}
		</p>
		
		
	</div>
</article>
{{ end }}
