<header id="masthead" class="site-header" role="banner">
	<div class="hgroup">
		<h1 class="site-title display-title">
			<a href="/" title="SivaLabs" rel="home"><span>SivaLabs</span></a>
		</h1>
		<h2 class="site-description">My	Experiments on Technology</h2>
	</div>
	<button type="button" class="btn btn-link hidden-lg toggle-sidebar"
		data-toggle="offcanvas" aria-label="Sidebar">
		<i class="fa fa-gear"></i>
	</button>
	<button type="button" class="btn btn-link hidden-lg toggle-navigation"
		aria-label="Navigation Menu">
		<i class="fa fa-bars"></i>
	</button>
	<nav id="site-navigation" class="navigation main-navigation"
		role="navigation">
		<ul id="menu-home" class="nav-menu">
			<li 
				class="menu-item menu-item-type-custom menu-item-object-custom">
				<a href="{{ .Site.BaseURL }}">Home</a>
			</li>
		</ul>
	</nav>
</header>