{{ $baseURL := .Site.BaseURL }}
<header>
	<div id="header-top">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<a id="site-name" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
					
				</div>
				<div class="col-md-9">
					<nav>
						<ul id="menu-home" class="menu">
							{{ range .Site.Menus.main }}
      						{{ if .HasChildren }}
      							<li 
								class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a
								href="#">{{ .Pre }}{{ .Name }}</a>
								<ul class="sub-menu">
								{{ range .Children }}
									<li class="menu-item menu-item-type-post_type menu-item-object-page"><a
										href="{{ .URL }}">{{ .Name }}</a>
					            	</li>
					            {{ end }}
					            </ul>
      						{{else}}						        
						       <li id="menu-item-919"
								class="menu-item menu-item-type-post_type menu-item-object-page"><a
								href="{{ .URL }}">{{ .Pre }}{{ .Name }}</a>
								
						    {{end}}
						        </li>
						     {{end}}
							
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>

</header>
<!-- 
<div id="widgets-home">
	<div class="container">
		<div class="row">
			
			<div class="col-md-12">
				<aside id="tag_cloud-5" class="widget widget_tag_cloud">
				<h4 class="widget-title">Tags</h4>
				<div class="tagcloud">
				{{ range $name, $taxonomy := .Site.Taxonomies.tags }}
			        <a style='font-size: 12.375pt;' href="{{ $baseURL }}tags/{{ $name | urlize }}">{{ $name | title }}</a>
			     {{ end }}
				</div>
				</aside>	
			</div>
			
		</div>
	</div>
</div>

 -->