
{{ $baseurl := .Site.BaseURL }}
{{ $pag := .Paginator }}

{{ if gt $pag.TotalPages 1 }}

<div class="pager">
	{{ if $pag.HasPrev }}
		<a class="pull-left page-numbers" href='{{ $baseurl }}{{ $pag.Prev.URL }}'>
			<i class="fa fa-chevron-left" aria-hidden="true"></i> Newer Posts
		</a> 
	{{ end }}
		
	{{ if $pag.HasNext }}	
		<a class="pull-right page-numbers" href='{{ $baseurl }}{{ $pag.Next.URL }}'>
			Older Posts <i class="fa fa-chevron-right" aria-hidden="true"></i>
		</a>
	{{ end }}
		
	
</div>

{{ end }}

