
<article class="post type-post status-publish format-standard hentry">
	<p class="date-author">{{ .Date.Format "Jan 2, 2006" }} By {{ .Site.Params.nickname}}</p>	
	<div id="post-content">			
		<h1 id="post-title">{{ .Title }}</h1>			
		{{ .Content }}
				
		<!-- <div id="post-tags" class="clearfix">
			<a href="#">#jooq</a>
			<a href="#">#SpringBoot</a>
		</div> -->
							
	</div>	
	{{ partial "social-share.html" . }}	
	<div id="post-footer" class="clearfix">			
		{{ if or (.PrevInSection) (.NextInSection) }}
		<div id="post-nav">
				{{if .NextInSection}}
		    	<a class="pull-left" rel="prev" href="{{.NextInSection.Permalink}}" title="{{.NextInSection.Title}}">
		    		<i class="fa fa-chevron-left"></i> {{.NextInSection.Title}} 
		    	</a> 
				{{ end }}
				
				{{if .PrevInSection}}
				<a class="pull-right" rel="next" href="{{.PrevInSection.Permalink}}" title="{{.PrevInSection.Title}}">
					{{.PrevInSection.Title}} <i class="fa fa-chevron-right"></i>
				</a>
		    	{{ end }}
		</div>
		{{ end }}	
	</div>	
</article>

