<div class="social">
    <ul>
        <li><a href="https://twitter.com/intent/tweet?status={{ .Title }}-{{ .Permalink }}" target="_blank">
        	<i class="fa fa-lg fa-twitter"></i></a>
        </li>
        <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" title="Share on Facebook">
        	<i class="fa fa-lg fa-facebook"></i></a>
        </li>
        <li><a href="https://plus.google.com/share?url={{ .Permalink }}" target="_blank" title="Share on Google+">
        	<i class="fa fa-lg fa-google-plus"></i></a>
        </li>
        <li><a href="http://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{ .Title }}"
		   target="_blank" title="Share on LinkedIn" >
		   <i class="fa fa-lg fa-linkedin"></i></a>
		</li>

<!--         
		<li><a href="#"><i class="fa fa-lg fa-github"></i></a></li>
        <li><a href="#"><i class="fa fa-lg fa-vimeo-square"></i></a></li>
        <li><a href="#"><i class="fa fa-lg fa-stack-overflow"></i></a></li>
        <li><a href="#"><i class="fa fa-lg fa-youtube"></i></a></li>
        <li><a href="#"><i class="fa fa-lg fa-rss"></i></a></li>
 -->        
    </ul>
</div>