{{ $baseUrl := .Site.BaseURL }}

<!DOCTYPE html>
<html lang="en-US">
{{ partial "head.html" . }}
<body class="home blog">
	{{ partial "header.html" . }}
	<div class="container">
		<div class="row">
			<div id="main-holder" class="col-md-12">
				<h1>404: Page not found</h1>
		        <p class="lead">Sorry, we've misplaced that URL or it's pointing to something that doesn't exist. 
		        <a href="{{ .Site.BaseURL }}">Head back home</a> to try finding it again.</p>
				
			</div>
			
		</div>
	</div>
	{{ partial "footer.html" . }}
	
</body>
</html>

