{{ $baseUrl := .Site.BaseURL }}
<!DOCTYPE html>
<html lang="en">
	{{ partial "head.html" . }}
	<body>
		{{ partial "header.html" . }}

		<section id="blog" class="container page-container">
			<div class="row">
	            <div class="col-sm-9 col-md-9">
	            	<div>
                		<h4><a href="{{ $baseUrl }}">Home</a> <i class="fa fa-angle-double-right"></i> <span>{{ .Title }}</span></h4>
                	</div>
	            	<div class="panel panel-default">
                    <div class="panel-body">
                        <!-- <img class="img-responsive img-blog" src="images/blog/blog2.jpg" width="100%" alt="" /> -->
                        <div class="blog-content">
                            <h2>{{ .Title }}</h2>
                            <div class="entry-meta">
                                <span><i class="fa fa-user"></i> {{ .Site.Params.nickname}}</span>
                                <span><i class="fa fa-calendar"></i> {{ .Date.Format "Jan 2, 2006" }}</span>
                            </div>
                            <div class="tags">
                                <i class="icon-tags"></i> Tags 
                                {{ range .Params.tags }}
                                        	<a class="btn btn-primary btn-xs" href="{{ $baseUrl }}tags/{{ . | urlize }}" rel="category">
										    	{{ . | title}} &nbsp;&nbsp;
										    </a>
									  	{{ end }}
                            </div>
                            <p>{{ .Content }}</p>

                            <hr>

                            <p>&nbsp;</p>

                            <div class="author well">
                                <div class="media">
                                    <div class="pull-left">
                                        <img class="avatar img-rounded authorpic-thumbnail" src="{{ .Site.BaseURL }}images/siva.jpg" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="media-heading">
                                            <strong>K. Siva Prasad Reddy</strong>
                                        </div>
                                        <p>A software developer with 10 years of experience in developing Enterprise application using Java platform.</p>
                                    </div>
                                </div>
                            </div><!--/.author-->

                            
                        </div>
                        <div>
                        	<p>{{ partial "social-share.html" . }}</p>
                        </div>
                        {{ partial "disqus.html" . }}
                    </div><!--/.blog-item-->
                </div>
                
                <ul class="pager">
				  
				    
				  {{if .NextInSection}}
				  <li class="previous">
			    	<a href="{{.NextInSection.Permalink}}">&larr; {{.NextInSection.Title}} </a>
			    	</li>
			      {{end}}
			      
			      {{if .PrevInSection}}
					  <li class="next">
				    	<a href="{{.PrevInSection.Permalink}}">{{.PrevInSection.Title}} &rarr; </a>
				    	</li>
				  {{end}}
			     
				</ul>
				
	            </div>
	            <aside class="col-sm-3 col-md-3">
	                {{ partial "sidebar.html" . }}    	
	            </aside> 
            </div>
            

    </section><!--/#blog-->
    	
{{ partial "footer.html" . }}
</body>
</html>

