<div class="social">
	<a href="https://twitter.com/intent/tweet?status={{ .Title }}-{{ .Permalink }}" target="_blank"
		   title="Share on Twitter" class="twitter">
		<span class="fa-stack fa-lg icon-twitter">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x"></i>
        </span>
	</a>
		   
	<a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" title="Share on Facebook"
		   class="facebook">		   
		<span class="fa-stack fa-lg icon-facebook">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x"></i>
        </span>	   
	</a>
		   
	<a href="https://plus.google.com/share?url={{ .Permalink }}" target="_blank" title="Share on Google+" class="googleplus">		
		<span class="fa-stack fa-lg icon-gplus">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-google-plus fa-stack-1x"></i>
        </span>	   	
	</a>
		
	<a href="http://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{ .Title }}&source=spf13"
		   target="_blank" title="Share on LinkedIn" class="linkedin">		  
		<span class="fa-stack fa-lg icon-linkedin">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-linkedin fa-stack-1x"></i>
        </span>
	</a>
		   
	<a href="http://www.reddit.com/submit?url={{ .Permalink }}" target="_blank" title="Share on Reddit" class="reddit">		
		<span class="fa-stack fa-lg icon-reddit">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-reddit-alien fa-stack-1x"></i>
        </span>	
	</a>
</div>